- for (var item in data.data)
  - if (!data.data[item].length && !_.isEmpty(data.data[item]))
    h3= item
    ul
      - for (var name in data.data[item])
        li= name 
          ul 
            - for (var attribute in data.data[item][name])
              li= data.data[item][name][attribute]
  - else
    if (item === 'fish')
      include snippet