- for (var item in data.data)
  - if (!$.isArray(data.data[item]))
    h3= item
    ul
      - for (var name in data.data[item])
        li= name 
          ul 
            - for (var attribute in data.data[item][name])
              li= data.data[item][name][attribute]
  - else
    //- ! Do not escape the snippet it is already escaped
    != snippet()